body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*first part of the page */

.header-part{
    background-color: #1F2937; 
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 10px;
}

#header-img{
    width: 380px;
    height: 200px;
    display: flex;
    flex: 0 1 1;
}

#header-content{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 800;
}

#header-links{
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

#sign-up{
    background-color: #3882F6;
    color:#F9FAF8; 
    padding: 8px 30px;
    border-radius: 8px;
    border-color: #3882F6;
    border-style: none;
    font-weight: 800;
    font-size: 15px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#E5E7EB;
}

.content-header{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    justify-content: space-between;
    gap: 10px;
}

#left-content{
    width:500px;
    padding-left: 0;
}


/* Second part of the page - Images with info*/
.random-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#title-2{
    font-weight: 800;
    font-size: 25px;
    color: #1F2937;
}

.images-info-container{
    display: flex;
    gap: 30px;
}



.image-info{
    text-align: center;
}

.random-image{
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.text{
    width: 100px;
    margin: auto;
    padding-top: 5px;
    font-size: 15px;
    color: rgb(102, 99, 99);
}


/* Third part of the page - The quote*/
.quote-part{
    background-color: #e5e7eb;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
}

#quote{
    color: #1F2937;
    font-weight: 0.5;
    font-size: 36px;  
}

#author{
    font-weight: 800;
    font-size:large;
    text-align: end;
    margin-left: -10px;
    margin-top: -10px;
}



